<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Store Template</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Store Template</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        @await Component.InvokeAsync("Category")
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="white" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
        </nav>
    </header>
    <div class="main">
        @RenderBody()
    </div>
    <footer class="modal-footer bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-md-left">
                    <p>That's my store Template view <span><a href="#">source code</a></span></p>
                </div>

                <div class="col-md-6">
                    <p class="text-md-right">my <span><a href="#">VK</a></span> for contacts</p>
                </div>
            </div>
        </div>
    </footer>

    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", required: false)
    }
    else
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js"></script>
    }
    
</body>
</html>
@*TODO: make ICON FOR ACCOUNT AND CART*@