<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Yo can manage your site</h5>
            <ul>
                <li>Add new products</li>
                <li>Update products</li>
                <li>Delete products</li>
                <li>Check and update user roles</li>
                <li>Check orders</li>
                <li>update orders</li>
            </ul>
        </div>
    </div>
</div>