@model LogInModel


<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" />
                    <form asp-controller="Account" asp-action="LogIn" method="post">
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <div><span asp-validation-for="Name" class="text-danger"></span></div>
                            <input asp-for="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <div><span asp-validation-for="Password" class="text-danger"></span></div>
                            <input asp-for="Password" class="form-control">
                        </div>
                        <button class="btn btn-primary" type="submit">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
