@model NewsViewModel

<div class="container mt-5">
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-title">
                    <div class="d-flex justify-content-center">
                        <h5>Update news</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-danger" asp-validation-summary="All"></div>

                    <form enctype="multipart/form-data" method="post">

                        @await Html.PartialAsync("NewsViewModelInput", Model)

                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-primary" asp-action="Update">Update</button>
                            <button class="btn btn-outline-danger" asp-action="Delete">Delete</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
