@model IEnumerable<Category>

<div class="container mt-3">
    <div class="row">
        @foreach (var category in Model)
        {
            @await Html.PartialAsync("AdminCategorySummary",category)
        }
    </div>
</div>