@model IEnumerable<StoreTemplateCore.Entities.Category>


<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @foreach (var category in Model)
    {
        <a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-categoryName="@category.Name" >
            @category.Name
            <img src="@category.ImagePath"/>
        </a>
    }
</div>
